
* {
  list-style: none;
  text-decoration: none;
}
nav ul {
  display: flex;
}


nav ul li a {
  color: hsl(130, 76%, 36%);
  font-size: 30px;
  display: block;
  padding: 0 12px;
  letter-spacing: 2px;
}
